@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

.dark {
  --background: #0a0a0a;
  --foreground: #f5f5f5;
}

html, body, #__next {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
}
